/* footBox.css */
/* footer용 css */

#footBox{
	width: 100%; height: auto;
	margin-top: 100px;

}

.family_site{
	width: 100%; height: 485px;
	margin: auto;
	background-image: url('../../../img/footer/flower_filed_03.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-bottom: 1px solid #fff;
	padding-top: 200px; box-sizing: border-box;
}

.family_area{
	width: 1024px; height: auto;
	margin: auto;
}

.family_area ul{
	width: 100%; height: auto;
}

.family_area li{
	float: left;
	width: 150px; height: 150px;
	margin-right: 140px;
	text-align: center;
}

.family_area img{
	width: 80%;  height: 80%;
}

.family_area span{
	display: block;
	width: auto; height: auto;
	font-weight: bold;
	color: #fff;
}

.family_area li:last-child{
	margin-right: 0;
}

.family_area a{
	display: block;
	width: 100%; height: 100%;
}

.footBox_area{
	width: 100%; height: 200px;
	background-color: #9a3e98;
}

.foot_area{
	width: 1024px; height: 100%;
	margin: auto;
}

.foot_menu{
	width: 100%; height: 50px;
	border-bottom: 1px solid #b884b5;
}

.foot_menu ul{
	width: 100%; height: 100%;
}

.foot_menu li {
	float: left;
	width: auto; height:auto;
	line-height: 3rem;
	padding-right:40px; 
	color: #fff;
}

.foot_info{
	width: 100%; height: 150px;
	padding-top:3.75rem; box-sizing: border-box;
}

.info_box p{
	display: block;
	float: left;
	width: auto; height: auto;
	color: #fff;
}

.f_logo{
	float: right;
	width: 380px; height: 60px;
	background-image: url('../../../img/footer/f_logo.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}




/* mobile */
@media screen and (max-width:639px){

	
	.family_area{
		width: 80%; max-width: 640px;
		height: auto;
		margin: auto;
		background-color: #fff;
	}
	
	/* .family_area ul{
		width: 100%; height: auto;
	}
	
	.family_area li{
		float: left;
		width: 150px; height: 150px;
		margin-right: 140px;
		text-align: center;
	}
	
	.family_area img{
		width: 80%;  height: 80%;
	}
	
	.family_area span{
		display: block;
		width: auto; height: auto;
		font-weight: bold;
		color: #fff;
	}
	
	.family_area li:last-child{
		margin-right: 0;
	}
	
	.family_area a{
		display: block;
		width: 100%; height: 100%;
	}
	
	.footBox_area{
		width: 100%; height: 200px;
		background-color: #9a3e98;
	}
	
	.foot_area{
		width: 1024px; height: 100%;
		margin: auto;
	}
	
	.foot_menu{
		width: 100%; height: 50px;
		border-bottom: 1px solid #b884b5;
	}
	
	.foot_menu ul{
		width: 100%; height: 100%;
	}
	
	.foot_menu li {
		float: left;
		width: auto; height:auto;
		line-height: 3rem;
		padding-right:40px; 
		color: #fff;
	}
	
	.foot_info{
		width: 100%; height: 150px;
		padding-top:3.75rem; box-sizing: border-box;
	}
	
	.info_box p{
		display: block;
		float: left;
		width: auto; height: auto;
		color: #fff;
	}
	
	.f_logo{
		float: right;
		width: 380px; height: 60px;
		background-image: url('../../../img/footer/f_logo.png');
		background-repeat: no-repeat;
		background-position: 50% 50%;
	} */
	

}

/* tablet */
@media screen and (min-width:640px) and (max-width:1023px){}

/* pc */
@media screen and (min-width:1024px) and (max-width:1439px){}

/* pcfull */
@media screen and (min-width:1440px){}