/* noticeBox.css */
/* main-noticeBox */

#noticeBox{
	width: 100%; height: 200px;
}

.noticeBox_area{
	width: 1024px; height: 100%;
	margin: auto;
	padding: 50px 0; box-sizing: border-box;
}

.notice_box{
	width: 80%; height: 100%;
	background-color: #EEA5B5;
}

/* mobile */
@media screen and (max-width:639px){}

/* tablet */
@media screen and (min-width:640px) and (max-width:1023px){}

/* pc */
@media screen and (min-width:1024px) and (max-width:1439px){}

/* pcfull */
@media screen and (min-width:1440px){}